html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: Helvetica;
    -webkit-font-smoothing: subpixel-antialiased;
}

.container {
    color: #444444;
    display: flex;
    flex-direction: column;
    background-color: #b2bec3;
    text-align: center;

}

div.container div {
    height: 200px;
    width: 100%;
}

/*********************************************************
Header
*********************************************************/
.header {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

div.header h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 55px;
    color: #D94243;
    letter-spacing: .5px;
}

div.header h3 {
    font-weight: 500;
}

.description {

}

/*********************************************************
Questions
*********************************************************/
.questions {
    background-color: #FAFAFA;
}
/*********************************************************
Further Questions and Submission
*********************************************************/
.end {
    background-color: #FAFAFA;
}
