<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <title>Reviewed By Trucker</title>
    <!-- Link to stylesheet -->
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Remove the default zoom -->
    <meta name="viewport" content="initial-scale=1">
</head>
<body>
    {{{body}}}

</body>
</html>
