<!-- home.handlebars -->
<div class="home">
    <div class=hero-image>
        <img src="/public/img/truck-kendall-henderson-43316-unsplashResize.jpg" class="img-fluid" alt="Responsive Hero Image" >
    </div>
    <h1>Reviewed By Trucker</h1>
    <h3>Review companies that post loads</h3>
    <!-- Use Bootstrap Button -->
    <!-- <div class="around-btn"> -->
        <button type="button" id="home-btn" class="btn btn-info"> View Loads </button>
    <!-- </div> -->
</div>
