<!-- views/loads-show -->
<a href="/">Back to Home</a>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Load</h1>
        <h1>Pickup Date: {{load.pickupDate}}</h1>
        <h3>Origin Location: {{load.originLocation}}</h3>
        <h3>Destination: {{load.destination}}</h3>
        <h3>Price: {{load.price}}</h3>

        <hr>

        <!-- Comment form -->
        {{> comment-form}}

        <hr>

        <!-- Show Coments -->
        {{#each comments}}
            {{> comment}}
        {{/each}}
        
    </div>
</div>
