<!--views/loads-new.hbs -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/loads">
            <fieldset>
                <legend>New Load</legend>
                <div class="form-group">
                        <label for="pickupDate">PickUp Date:</label><br>
                        <input class="form-control" id="pickupDate" type="text" name="pickupDate" value="{{this.pickupDate}}"/>
                </div>
                <div class="form-group">
                        <label for="originLocation">Origin Location:</label><br>
                        <input class="form-control" id="originLocation" type="text" name="originLocation" value="{{this.originLocation}}"/>
                </div>
                <div class="form-group">
                        <label for="destination">Destination: </label><br>
                        <input class="form-control" id="destination" type="text" name="destination" value="{{this.destination}}"/>
                </div>
                <div class="form-group">
                        <label for="price">Price: </label><br>
                        <input class="form-control" id="price" type="text" name="price" value="{{this.price}}"/>
                </div>
            </fieldset>
            <!-- BUTTON -->
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save Load</button>
            </div>
        </form>
    </div>
</div>
