html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: Helvetica;
    -webkit-font-smoothing: subpixel-antialiased;
}

.container {
    color: #444444;
    display: flex;
    flex-direction: column;
    background-color: #b2bec3;
    text-align: center;

}

/* div.container div {
    height: 200px;
    width: 100%;
} */

/*********************************************************
Header
*********************************************************/
.header {
    display: flex;
    flex-direction: column;
}

div.header h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 55px;
    color: #D94243;
    letter-spacing: .5px;
}

div.header h3 {
    font-weight: 500;
}

.description {

}

/*********************************************************
Questions
*********************************************************/
.questions {
    background-color: #FAFAFA;
}

/*********************************************************
Further Questions and Submission
*********************************************************/
.end {
    background-color: #FAFAFA;
}

/*********************************************************
SUCCESS PAGE
*********************************************************/
.message {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
}

/********************************************************
Home
********************************************************/
.home {
    color: #FAFAFA;
    text-align: center;
    background-color: #979478;
    /* height: 830px; */
}

div.home h1 {
    font-size: 31px;
    padding-left: 35px;
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

div.home h3 {
    font-size: 19px;
    font-weight: normal;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

#home-btn {
    background-color: #462631;
    padding: 35px 110px;
    margin-top: 40;
    margin-bottom: 40px;
    /* position: */
}

@media (min-width: 992px){
    height: calc(99vh - 50px);
    width: 100%;
    background: url('img/truck-kendall-henderson-43316-unsplashResize.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/********************************************************
Loads Index
*********************************************************/
div.loads-index h1 {
    padding: 10px;
}

div.loads-index {
    background-color: #979478;
    color: #FAFAFA;
}

/* div.loads-index tr {
    background-color:
} */

/*********************************************************
Loads Show
*********************************************************/
#loads-show p{
    text-align: left;
}

#loads-show {
    background-color: #979478;
    padding: 10px;
}

/********************************************************
Comments
********************************************************/
.comment-form {
    text-align: left;
}

.card {
    background-color: #707070;
    color: #FAFAFA;
}

#comment-btn {
    background-color: #462631;
    border: none;
}
